body {
    margin: 0;
    padding: 0;

    background-image: url("/static/img_fundo01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
}

